.location-image{
    width: 49rem;
    height: auto;
}

.location-subtitles{
    font-family: var(--font_roboto);
    font-size: var(--font-size-xl);
    font-weight: bold;
}

.location-text{
    text-align: center;
}

.underline{
    width: 30rem;
    height: 0.25rem;
    background-color: var(--primary_color);
    border-style: none;
}

.location-paragraph{
    font-family: var(--font_marcellus);
    font-size: var(--font-size-nm);
    margin-top: 2rem;
    line-height: 2;
    width: 48rem;
    text-align: center;
}

.location-text-container{
    margin-top: 6rem;
}