
.navigation{
   display: flex;
 
   gap: 1.5rem;
   padding-top: 7.5rem;
   margin-left: 0;
  
}

.navigation-link{
    font-family: var(--font_roboto);
    font-size: var(--font-size-sm);
    font-weight: 400;
}



